$background-main: linear-gradient(#141e30, #703fec);

$box-shadow-green: 0 0 5px #2ed573, 0 0 25px #2ed573, 0 0 50px #2ed573,
  0 0 100px #2ed573;

$box-shadow-purplish-green: 0 0 5px #703fec, 0 0 25px #703fec, 0 0 50px #703fec,
  0 0 100px #2ed573;
